{% extends '::base.html.twig' %}

{% block body -%}
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Lista de Destinos</h2>

            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>

                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Resenahistorica</th>
                            <th>Direccionmapa</th>
                            <th>Provincia</th>
                            <th>Actions</th>


                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('destino_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.nombre }}</td>
                                <td>{{ entity.direccion }}</td>
                                <td>{{ entity.resenaHistorica }}</td>
                                <td>{{ entity.direccionMapa }}</td>
                                <td>{{ entity.provincia }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('destino_show', { 'id': entity.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('destino_edit', { 'id': entity.id }) }}">edit</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('agregar_destino', { 'id': entity.id }) }}">agregar imagenes</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <center>
                    <ul class="pagination pagination-centered">
                        <li><a href="#">Anterior</a></li>

                    </ul>
                </center>
            </div>
            <center>
                <ul>

                    <a href="{{ path('destino_new') }}">
                        Crear un nuevo Destino
                    </a>

                </ul>
            </center>
        </div>

    </div><!--/span-->
{% endblock %}
