{% extends '::base.html.twig' %}

{% block body -%}
     <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Crear Destino</h2>

            </div>
            <center>
                <div class="box-content">
                    <table class="table table-bordered table-striped table-condensed">
                        {{ form_start(form)}}
                        {{form_errors(form)}}
                        <tbody>
                            <tr>
                                <th style="width: 200px;"> Nombre</th>
                                <td>{{form_widget(form.nombre)}}
                                    {{ form_errors(form.nombre) }}</td>
                            </tr>
                            <tr>
                                <th style="width: 200px;"> Direccion </th>
                                <td>{{form_widget(form.direccion)}}
                                    {{ form_errors(form.direccion) }}</td>
                            </tr>
                            <tr>
                                <th style="width: 200px;"> Reseña historica </th>
                                <td>{{form_widget(form.resenaHistorica)}}
                                    {{ form_errors(form.resenaHistorica) }}</td>
                            </tr>
                            
                            <tr>
                                <th style="width: 200px;"> Direccion mapa </th>
                                <td>{{form_widget(form.direccionMapa)}}
                                    {{ form_errors(form.direccionMapa) }}</td>
                            </tr>
                            <tr>
                                <th style="width: 200px;"> Provincia </th>
                                <td>{{form_widget(form.provincia)}}
                                    {{ form_errors(form.provincia) }}</td>
                            </tr>
                           
                        </tbody>

                    </table>
                </div>
                <table>
                    <tr>

                        <td> {{form_widget(form.submit)}}
                        </td>
                        <td> <a href="{{ path('destino') }}" class="btn btn-primary">
                                Atras
                            </a>
                        </td>

                    </tr>
                </table><br>

                {{ form_end(form)}}
            </center>  
        </div>
    </div>

{% endblock %}
