{% extends '::base.html.twig' %}
{% block menu %}
    <li><a href="{{ path('paquete') }}" class="scroll-link">Paquetes</a></li>
    <li><a href="{{ path('hotelrestaurante') }}" class="scroll-link">Restaurantes</a></li>
    <li><a href="{{ path('hotelrestaurantehotel') }}" class="scroll-link">Hoteles</a></li>
    <li><a href="{{ path('destino') }}" class="scroll-link">Destinos</a></li>
    <li><a href="{{ path('usuario') }}" class="scroll-link">Usuarios</a></li>
    {% endblock %}
{% block body -%}
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Hotel/Restaurante</h2>
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th style="width: 200px;">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th style="width: 200px;">Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th style="width: 200px;">Direccion</th>
                            <td>{{ entity.direccion }}</td>
                        </tr>
                        <tr>
                            <th style="width: 200px;">Servicios</th>
                            <td>{{ entity.servicios }}</td>
                        </tr>
                        <tr>
                            <th style="width: 200px;">Tipo</th>
                             {%if entity.tipo== 1%}
                            <td> Restaurante </td>
                            {%endif%}
                            {%if entity.tipo== 2%}
                            <td> Hotel </td>
                            {%endif%}
                           
                        </tr>
                        <tr>
                            <th style="width: 200px;">Direccionmapa</th>
                            <td>{{ entity.direccionMapa }}</td>
                        </tr>
                        <tr>
                            <th style="width: 200px;">Provincia</th>
                            <td>{{ entity.provincia }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <center>
                <table>

                    <ul class="record_actions">
                        <td>
                            <a href="{{ path('hotelrestaurante') }}" class="btn btn-primary">
                                Volver
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('hotelrestaurante_edit', { 'id': entity.id }) }}" class="btn btn-primary">
                                Editar
                            </a>
                        </td>

                        {{ form_start(delete_form)}}
                        <td>      
                            {{ form_widget(delete_form) }} 
                        </td>
                        {{ form_end(delete_form)}}

                    </ul>
                    </td>
                </table><br>
            </center>
        {% endblock %}
