{% extends '::base.html.twig' %}
{% block menu %}
    <li><a href="{{ path('paquete') }}" class="scroll-link">Paquetes</a></li>
    <li><a href="{{ path('hotelrestaurante') }}" class="scroll-link">Restaurantes</a></li>
    <li><a href="{{ path('hotelrestaurantehotel') }}" class="scroll-link">Hoteles</a></li>
    <li><a href="{{ path('destino') }}" class="scroll-link">Destinos</a></li>
    <li><a href="{{ path('usuario') }}" class="scroll-link">Usuarios</a></li>
    {% endblock %}
{% block body -%}
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Lista de Usuarios</h2>

            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>

                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Direccion</th>
                            <th>Correo</th>
                            <th>Contrasena</th>
                            <th>Telefono</th>
                            <th>Tipo</th>
                            <th>Actions</th>


                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.nombre }}</td>
                                <td>{{ entity.apellidos }}</td>
                                <td>{{ entity.direccion }}</td>
                                <td>{{ entity.correo }}</td>
                                <td>{{ entity.contrasena }}</td>
                                <td>{{ entity.telefono }}</td>
                                {%if entity.tipo == true%}
                                    <td> Administrador </td>
                                {%endif%}
                                {%if entity.tipo == false%}
                                    <td> Usuario </td>
                                {%endif%}
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('usuario_show', { 'id': entity.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <center>
                    <ul class="pagination pagination-centered">
                        <li><a href="#">Anterior</a></li>

                    </ul>
                </center>
            </div>
            <center>
                <ul>

                    <a href="{{ path('usuario_new') }}">
                        Crear un nuevo Usuario
                    </a>

                </ul>
            </center>
        </div>

    </div><!--/span-->

{% endblock %}
