{% extends '::base.html.twig' %}
{% block menu %}
    <li><a href="{{ path('paquete') }}" class="scroll-link">Paquetes</a></li>
    <li><a href="{{ path('hotelrestaurante') }}" class="scroll-link">Restaurantes</a></li>
    <li><a href="{{ path('hotelrestaurantehotel') }}" class="scroll-link">Hoteles</a></li>
    <li><a href="{{ path('destino') }}" class="scroll-link">Destinos</a></li>
    <li><a href="{{ path('usuario') }}" class="scroll-link">Usuarios</a></li>
    {% endblock %}
{% block body -%}

    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Lista de Paquetes</h2>

            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Imagen</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('paquete_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.descripcion }}</td>
                    <td>{{ entity.precio }}</td>
                    <td>{{ entity.imagen }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('paquete_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('paquete_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                            <li>
                                <a href="{{ path('editar', { 'id': entity.id }) }}">editar imagen</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}

                    </tbody>
                </table>
                <center>
                    <ul class="pagination pagination-centered">
                        <li><a href="#">Anterior</a></li>

                    </ul>
                </center>
            </div>
            <center>
                <ul>

                    <a href="{{ path('paquete_new') }}">
                        Crear un nuevo Paquete
                    </a>

                </ul>
            </center>
        </div>

    </div><!--/span-->
{% endblock %}
