{% extends '::base.html.twig' %}

{% block body -%}
     <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Hotel/Restaurante</h2>
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                        <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.precio }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ entity.imagen }}</td>
            </tr>
                    </tbody>
                </table>
            </div>
            <center>
                <table>

                    <ul class="record_actions">
                        <td>
                            <a href="{{ path('paquete') }}" class="btn btn-primary">
                                Volver
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('paquete_edit', { 'id': entity.id }) }}" class="btn btn-primary">
                                Editar
                            </a>
                        </td>

                        {{ form_start(delete_form)}}
                        <td>      
                            {{ form_widget(delete_form) }} 
                        </td>
                        {{ form_end(delete_form)}}

                    </ul>
                    </td>
                </table><br>
            </center>
    
{% endblock %}
