{% extends 'PackagesBundle:Default:Template.html.twig' %}
{% block container %}
    <div class="col-md-3 col-sm-6">
        <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p style="text-align:center;">
                <img src="{{asset('resourses/images/pic/pic-1.jpg')}}" class="img-responsive" alt="">
            </p>
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <h3>Coliseo Romano</h3>
                    <p>Este paquete esta disponible para todo publico</p>
                    <a class=" btn btn-default" href="{{ path('package_page') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3 col-sm-6">
        <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p style="text-align:center;">
                <img src="{{asset('resourses/images/pic/pic-1.jpg')}}" class="img-responsive" alt="">
            </p>
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <h3>Coliseo Romano</h3>
                    <p>Este paquete esta disponible para todo publico</p>
                    <a class=" btn btn-default" href="{{ path('package_page') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3 col-sm-6">
        <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p style="text-align:center;">
                <img src="{{asset('resourses/images/pic/pic-1.jpg')}}" class="img-responsive" alt="">
            </p>
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <h3>Coliseo Romano</h3>
                    <p>Este paquete esta disponible para todo publico</p>
                    <a class=" btn btn-default" href="{{ path('package_page') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3 col-sm-6">
        <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p style="text-align:center;">
                <img src="{{asset('resourses/images/pic/pic-1.jpg')}}" class="img-responsive" alt="">
            </p>
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <h3>Coliseo Romano</h3>
                    <p>Este paquete esta disponible para todo publico</p>
                    <a class=" btn btn-default" href="{{ path('package_page') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3 col-sm-6">
        <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p style="text-align:center;">
                <img src="{{asset('resourses/images/pic/pic-1.jpg')}}" class="img-responsive" alt="">
            </p>
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <h3>Coliseo Romano</h3>
                    <p>Este paquete esta disponible para todo publico</p>
                    <a class=" btn btn-default" href="{{ path('package_page') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3 col-sm-6">
        <div class="cuadro_intro_hover " style="background-color:#cccccc;">
            <p style="text-align:center;">
                <img src="{{asset('resourses/images/pic/pic-1.jpg')}}" class="img-responsive" alt="">
            </p>
            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <h3>Coliseo Romano</h3>
                    <p>Este paquete esta disponible para todo publico</p>
                    <a class=" btn btn-default" href="{{ path('package_page') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}