{% extends '::base.html.twig' %}
{% block menu %}
    <li class="active"><a href="{{ path('packages_homepage') }}" class="scroll-link">Paquetes</a></li>
    <li><a href="{{ path('restaurants_homepage') }}" class="scroll-link">Restaurantes</a></li>
    <li><a href="{{ path('hotels_homepage') }}" class="scroll-link">Hoteles</a></li>
    <li><a href="{{ path('destinations_homepage') }}" class="scroll-link">Destinos</a></li>
    <li><a href="{{ path('about_homepage') }}" class="scroll-link">Sobre nosotros</a></li>
    {% endblock %}
    {% block body %} 
    <section id="packages" class="secPad">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <!--Affix start-->
                    <div data-spy="affix" class="col-sm-2" data-offset-top="0">
                        <div class="list-group">
                            <a href="{{ path('packages_homepage') }}" class="list-group-item all_package">Todos los paquetes</a>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                {% set size = paquetesPorUsuario|length %}
                                <span class="badge">{{ size|raw }}</span>
                                <h5 class="list-group-item-heading">Mis paquetes</h5>
                                {% for paquete in paquetesPorUsuario %}
                                    <a href="{{ path('package_page') }}" class="list-group-item link_change">{{paquete.nombre}}</a>
                                {% endfor %}
                                <a href="{{ path('newpackage_page') }}" class="list-group-item link_change">Nuevo</a>
                            </li>
                        </ul>
                        {% set usuario = app.session.get('user')%}
                        {%  if (usuario.tipo) %}
                            <div class="list-group">
                                <a href="{{ path('newpackage_page') }}" class="list-group-item link_change">Crear paquete</a>
                            </div>
                        {% endif %}
                    </div>
                    <!--Affix end-->
                </div>
                <div class="col-sm-9">
                    <!--Content start-->
                    <div class="wrapper">
                        <div class="heading">
                            <!-- Heading -->
                            <div class="text-center">
                                <h2>Paquetes Disponibles</h2>
                                <p>Escoga su paquete</p>
                            </div>
                            <div class="well container col-md-12">
                                <div class="col-md-9 pull-left">
                                    <div class="input-group ">
                                        <div class="dropdown input-group-btn">
                                            <button href="#" class="dropdown-toggle btn" data-toggle="dropdown" role="button" aria-expanded="false">Avanzada<span class="caret"></span></button>
                                            <ul class="dropdown-menu" style="min-width:300px" role="menu">
                                                <div>
                                                    <form id="" class="well-lg" role="form">
                                                        <div class="input-group">
                                                            <label class="control-label" for="email">Lugar</label>
                                                            <div class="controls row-fluid">
                                                                <input class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="input-group">
                                                            <label class="control-label" for="name">Precio</label>
                                                            <div class="controls row-fluid">
                                                                <input class="span2" required="required" type="number">
                                                                <label class="control-label">a</label>
                                                                <input class="span2" required="required" type="number">
                                                            </div>
                                                        </div>
                                                        <div>&nbsp;</div>
                                                        <div class="input-group">
                                                            <button type="submit" class="btn btn-primary">Buscar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </ul>
                                        </div>
                                        <form method="post" id="search" class="input-group col-xs-12">
                                            <input id="nameSearch" name="nameSearch" type="text" class="form-control " placeholder="Nombre">
                                            <span class="input-group-btn">
                                                <button id="button" class="btn btn-default" type="button">Buscar</button>
                                            </span>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-3 pull-right">
                                    <select class="form-control order">
                                        <option {% if(app.session.get('option') == 1) %}selected="selected"{% endif%} value="1">Mas popular</option>
                                        <option {% if(app.session.get('option') == 2) %}selected="selected"{% endif%} value="2">A-Z</option>
                                        <option {% if(app.session.get('option') == 3) %}selected="selected"{% endif%} value="3">Z-A</option>
                                    </select>
                                </div>
                            </div>
                            <div id="change" class="container well col-md-12">
                            {% block container %}{% endblock %}
                            <!--Content end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    <script stype="text/javascript">
        $(".link_change").click(function (event) {
            event.preventDefault();
            $("#change").load($(this).attr('href'));
        });

        $(".all_package").click(function (event) {
            event.preventDefault();
            $("#nameSearch").val("");
            $("#change").load($(this).attr('href'));
        });
        
        $("#button").click(function (event) {
            event.preventDefault();
            $.ajax({
                url: "{{ path('packages_search') }}",
                type: 'POST',
                data: $("#search").serialize(),
                success: function (response) {
                    $("#change").html(response);
                }
            });
        });

        $(".order").change(function () {
            var option = $(".order option:selected").val();
            $.ajax({
                url: "{{ path('packages_search') }}",
                type: 'POST',
                data: {'option': option},
                success: function (response) {
                    $("#change").html(response);
                }
            });
        });
    </script>
{% endblock %}