{% extends '::base.html.twig' %}
{% block menu %}
    <li><a href="{{ path('packages_homepage') }}" class="scroll-link">Paquetes</a></li>
    <li><a href="{{ path('restaurants_homepage') }}" class="scroll-link">Restaurantes</a></li>
    <li class="active"><a href="{{ path('hotels_homepage') }}" class="scroll-link">Hoteles</a></li>
    <li><a href="{{ path('destinations_homepage') }}" class="scroll-link">Destinos</a></li>
    <li><a href="{{ path('about_homepage') }}" class="scroll-link">Sobre nosotros</a></li>
    {% endblock %}

    {% block body %}
       
     
        <img src="{{asset('resourses/images/hotel.jpg')}}" class="img-responsive" alt="" style="position:absolute;visibility:visible">
        
        <div class="well container" style="position: relative">   
            <h2> Información del Hotel </h2><br><br>
        </div>
        
    {% endblock %}