{% extends '::base.html.twig' %}
{% block menu %}
    {% if (app.session.get('user')) is not null %}
        <li><a href="{{ path('packages_homepage') }}" class="scroll-link">Paquetes</a></li>
    {% endif %}
    <li><a href="{{ path('restaurants_homepage') }}" class="scroll-link">Restaurantes</a></li>
    <li><a href="{{ path('hotels_homepage') }}" class="scroll-link">Hoteles</a></li>
    <li class="active"><a href="{{ path('destinations_homepage') }}" class="scroll-link">Destinos</a></li>
    <li><a href="{{ path('about_homepage') }}" class="scroll-link">Sobre nosotros</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Iniciar sesión<span class="caret"></span></a>
        <ul class="dropdown-menu pull-right" role="menu">
            <div>
                <form id="signin" class="navbar-form navbar-right" role="form">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address">                                        
                    </div>
                    <div>&nbsp;</div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">                                        
                    </div>
                    <div>&nbsp;</div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </form>
            </div>
        </ul>
    </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Temas<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="Temas">
            <li><a href="{{ path('configurations', {'type':'default', 'uri':'destinations_homepage'}) }}">Default</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('configurations', {'type':'cyborg', 'uri':'destinations_homepage'}) }}">Cyborg</a></li>
            <li><a href="{{ path('configurations', {'type':'journal', 'uri':'destinations_homepage'}) }}">Journal</a></li>
            <li><a href="{{ path('configurations', {'type':'sandstone', 'uri':'destinations_homepage'}) }}">Sandstone</a></li>
            <li><a href="{{ path('configurations', {'type':'slate', 'uri':'destinations_homepage'}) }}">Slate</a></li>
        </ul>
    </li>
    {% endblock %}

    {% block body %} 
        <img src="{{asset('resourses/images/destiny.jpg')}}" class="img-responsive" alt="" style="position:absolute;visibility:visible">
        
        <section id="packages" class="secPad">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <!--Affix start-->
                    <div data-spy="affix" data-offset-top="0">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">1</span>
                                <h4 class="list-group-item-heading">Mis destinos</h4>
                                <a href="" class="list-group-item">San Jose</a>
                                <a href="" class="list-group-item">Nuevo</a>
                            </li>
                        </ul>
                    </div>
                    <!--Affix end-->
                </div>
                <div class="col-sm-9">
                    <!--Content start-->
                    <div class="wrapper">
                        <div class="heading">
                            <!-- Heading -->
                            <div class="text-center">
                                <h2>Destinos Disponibles</h2>
                                <p style="background-color: #000000">Escoga su destino</p>
                            </div>
                            <div class="well container">
                                <div class="col-md-9 pull-left">
                                    <div class="input-group">
                                        <div class="dropdown input-group-btn">
                                            <button href="#" class="dropdown-toggle btn" data-toggle="dropdown" role="button" aria-expanded="false">Avanzada<span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <div>
                                                    <form id="" class="navbar-form navbar-right" role="form">
                                                        <fieldset>
                                                            <div class="control-group">
                                                                <label class="control-label" for="email">Lugar</label>
                                                                <div class="controls row-fluid">
                                                                    <input class="form-control" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="control-group">
                                                                <label class="control-label" for="name">Precio</label>
                                                                <div class="controls row-fluid">
                                                                    <input class="span2" required="required" type="number">
                                                                    <label class="control-label">a</label>
                                                                    <input class="span2" required="required" type="number">
                                                                </div>
                                                            </div>
                                                            <div class="control-group">
                                                                <button type="submit" class="btn btn-primary">Buscar</button>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </ul>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nombre">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3 pull-right">
                                    <select class="form-control">
                                        <option value="">Mas popular</option>
                                        <option value="">A-Z</option>
                                        <option value="">Z-A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                        <p style="text-align:center;">
                                            <img src="{{asset('resourses/images/cachi.jpg')}}" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption">
                                            <div class="blur"></div>
                                            <div class="caption-text">
                                                <h3>Cachi</h3>
                                                <p>Este destino esta disponible para todo publico</p>
                                                <a class=" btn btn-default" href="{{ path('destiny_detail') }}"><span class="glyphicon glyphicon-plus"> Reseña</span></a>
                                            </div>
                                        </div>
                                     </div>
                                                 <a class=" btn btn-default" href="{{ path('hotels_homepage') }}"><span class="glyphicon glyphicon-plus"> Hoteles</span></a>
                                                 <a class=" btn btn-default" href="{{ path('restaurants_homepage') }}"><span class="glyphicon glyphicon-plus"> Restaurantes</span></a>

                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                        <p style="text-align:center;">
                                            <img src="{{asset('resourses/images/orosi.jpg')}}" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption">
                                            <div class="blur"></div>
                                            <div class="caption-text">
                                                <h3>Orosi</h3>
                                                <p>Este destino esta disponible para todo publico</p>
                                                <a class=" btn btn-default" href="{{ path('destiny_detail') }}"><span class="glyphicon glyphicon-plus"> Reseña</span></a>
                                            </div>
                                        </div>
                                   </div>
                                                 <a class=" btn btn-default" href="{{ path('hotels_homepage') }}"><span class="glyphicon glyphicon-plus"> Hoteles</span></a>
                                                 <a class=" btn btn-default" href="{{ path('restaurants_homepage') }}"><span class="glyphicon glyphicon-plus"> Restaurantes</span></a>

                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                        <p style="text-align:center;">
                                            <img src="{{asset('resourses/images/cartago.jpg')}}" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption">
                                            <div class="blur"></div>
                                            <div class="caption-text">
                                                <h3>Cartago</h3>
                                                <p>Este destino esta disponible para todo publico</p>
                                                <a class=" btn btn-default" href="{{ path('destiny_detail') }}"><span class="glyphicon glyphicon-plus"> Reseña</span></a>
                                            </div>
                                        </div>
                                     </div>
                                                 <a class=" btn btn-default" href="{{ path('hotels_homepage') }}"><span class="glyphicon glyphicon-plus"> Hoteles</span></a>
                                                 <a class=" btn btn-default" href="{{ path('restaurants_homepage') }}"><span class="glyphicon glyphicon-plus"> Restaurantes</span></a>

                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                        <p style="text-align:center;">
                                            <img src="{{asset('resourses/images/sanjose.jpg')}}" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption">
                                            <div class="blur"></div>
                                            <div class="caption-text">
                                                <h3>San Jose </h3>
                                                <p>Este destino esta disponible para todo publico</p>
                                                <a class=" btn btn-default" href="{{ path('destiny_detail') }}"><span class="glyphicon glyphicon-plus"> Reseña</span></a>
                                               
                                            </div>
                                        </div>
                                    </div>
                                                 <a class=" btn btn-default" href="{{ path('hotels_homepage') }}"><span class="glyphicon glyphicon-plus"> Hoteles</span></a>
                                                 <a class=" btn btn-default" href="{{ path('restaurants_homepage') }}"><span class="glyphicon glyphicon-plus"> Restaurantes</span></a>

                                </div>
                              
                             
                                <!--Content end-->
                            </div>
                        </div>
                    </div>
                </div>
                </section>v
       
    {% endblock %}