{% extends '::base.html.twig' %}
{% block menu %}
    <li><a href="{{ path('packages_homepage') }}" class="scroll-link">Paquetes</a></li>
    <li class="active"><a href="{{ path('restaurants_homepage') }}" class="scroll-link">Restaurantes</a></li>
    <li><a href="{{ path('hotels_homepage') }}" class="scroll-link">Hoteles</a></li>
    <li><a href="{{ path('destinations_homepage') }}" class="scroll-link">Destinos</a></li>
    <li><a href="{{ path('about_homepage') }}" class="scroll-link">Sobre nosotros</a></li>
    <li><a href="{{ path('restaurants_admin') }}" class="scroll-link">Pestaña Administrador</a></li>
{% endblock %}

{% block body %} 

    <img src="{{asset('resourses/images/restFondo.jpg')}}" class="img-responsive" alt="" style="position:absolute;visibility:visible">

    <section id="hotels" class="secPad">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <!--Affix start-->
                    <div data-spy="affix" data-offset-top="0">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">1</span>
                                <h4 class="list-group-item-heading">Mis hoteles</h4>
                                <a href="{{ path('package_page') }}" class="list-group-item">Hotel riu</a>
                                <a href="" class="list-group-item">Nuevo</a>
                            </li>
                        </ul>
                    </div>
                    <!--Affix end-->
                </div>
                <div class="col-sm-9">
                    <!--Content start-->
                    <div class="wrapper">
                        <div class="heading">
                            <!-- Heading -->
                            <div class="text-center">
                                <h2>Restaurantes Disponibles</h2>
                                <p style="background-color: #000000">Escoga su Restaurante</p>
                            </div>
                            <div class="well container">
                                <div class="col-md-9 pull-left">
                                    <div class="input-group">
                                        <div class="dropdown input-group-btn">
                                            <button href="#" class="dropdown-toggle btn" data-toggle="dropdown" role="button" aria-expanded="false">Avanzada<span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <div>
                                                    <form id="" class="navbar-form navbar-right" role="form">
                                                        <fieldset>
                                                            <div class="control-group">
                                                                <label class="control-label" for="email">Restaurante</label>
                                                                <div class="controls row-fluid">
                                                                    <input class="form-control" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="control-group">
                                                                <label class="control-label" for="name">Precio</label>
                                                                <div class="controls row-fluid">
                                                                    <input class="span2" required="required" type="number">
                                                                    <label class="control-label">a</label>
                                                                    <input class="span2" required="required" type="number">
                                                                </div>
                                                            </div>
                                                            <div class="control-group">
                                                                <button type="submit" class="btn btn-primary">Buscar</button>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </ul>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nombre">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3 pull-right">
                                    <select class="form-control">
                                        <option value="">Mas popular</option>
                                        <option value="">A-Z</option>
                                        <option value="">Z-A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                        <p style="text-align:center;" >

                                            <img src="{{asset('resourses/images/restaurantes/naans.jpg')}}" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption" style="border-color: #FF0; border-width: thick">
                                            <div class="blur" ></div>
                                            <div class="caption-text">
                                                <h3>Naans</h3>
                                                <p>Comida india original hecha por chefs nativos 5. Número 1 en Trip Advisor.</p>
                                                <a class=" btn btn-default" href="{{ path('restaurants_detail') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                            
                                            
                                                     <div class="col-md-3 col-sm-6">
                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                        <p style="text-align:center;" >

                                            <img src="{{asset('resourses/images/restaurantes/alquimia1.jpg')}}" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption" style="border-color: #FF0; border-width: thick">
                                            <div class="blur" ></div>
                                            <div class="caption-text">
                                                <h3>Alquimia</h3>
                                                <p>Comida india original hecha por chefs nativos 5. Número 1 en Trip Advisor.</p>
                                                <a class=" btn btn-default" href="{{ path('restaurants_detail') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                                                                                 <div class="col-md-3 col-sm-6">
                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                        <p style="text-align:center;" >

                                            <img src="{{asset('resourses/images/restaurantes/barCoto.jpg')}}" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption" style="border-color: #FF0; border-width: thick">
                                            <div class="blur" ></div>
                                            <div class="caption-text">
                                                <h3>Coto</h3>
                                                <p>Comida india original hecha por chefs nativos 5. Número 1 en Trip Advisor.</p>
                                                <a class=" btn btn-default" href="{{ path('restaurants_detail') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                            
                                            
                                                                                                 <div class="col-md-3 col-sm-6">
                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                        <p style="text-align:center;" >

                                            <img src="{{asset('resourses/images/restaurantes/chirraca.jpg')}}" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption" style="border-color: #FF0; border-width: thick">
                                            <div class="blur" ></div>
                                            <div class="caption-text">
                                                <h3>Chirraca</h3>
                                                <p>Comida india original hecha por chefs nativos 5. Número 1 en Trip Advisor.</p>
                                                <a class=" btn btn-default" href="{{ path('restaurants_detail') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                            
                                                                                                 <div class="col-md-3 col-sm-6">
                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                        <p style="text-align:center;" >

                                            <img src="{{asset('resourses/images/restaurantes/lamasia2.jpg')}}" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption" style="border-color: #FF0; border-width: thick">
                                            <div class="blur" ></div>
                                            <div class="caption-text">
                                                <h3>Lamasia</h3>
                                                <p>Comida india original hecha por chefs nativos 5. Número 1 en Trip Advisor.</p>
                                                <a class=" btn btn-default" href="{{ path('restaurants_detail') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                            
                                                                                                 <div class="col-md-3 col-sm-6">
                                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                                        <p style="text-align:center;" >

                                            <img src="{{asset('resourses/images/restaurantes/lukas.jpg')}}" class="img-responsive" alt="">
                                        </p>
                                        <div class="caption" style="border-color: #FF0; border-width: thick">
                                            <div class="blur" ></div>
                                            <div class="caption-text">
                                                <h3>Lukas</h3>
                                                <p>Comida india original hecha por chefs nativos 5. Número 1 en Trip Advisor.</p>
                                                <a class=" btn btn-default" href="{{ path('restaurants_detail') }}"><span class="glyphicon glyphicon-plus"> Ver</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                            
                                            
                                            
                                            

                                <!--Content end-->
                            </div>

                           
                       

                                <!--Content end-->
                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>











{% endblock %}