{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block menu %}
    <li><a href="{{ path('packages_homepage') }}" class="scroll-link">Paquetes</a></li>
    <li><a href="{{ path('restaurants_homepage') }}" class="scroll-link">Restaurantes</a></li>
    <li><a href="{{ path('hotels_homepage') }}" class="scroll-link">Hoteles</a></li>
    <li><a href="{{ path('destinations_homepage') }}" class="scroll-link">Destinos</a></li>
    <li><a href="{{ path('about_homepage') }}" class="scroll-link">Sobre nosotros</a></li>
{% endblock %}
{% block body %} 

    <img src="{{asset('resourses/images/detailRestFont.jpg')}}" width="1600px" height="1500px" class="img-responsive"  >

    <section class="container">

        <div>
            <h2 style="position:absolute; top:100px; left:500px; visibility:visible;">Detalles de Restaurante</h2>
            <h2 style="position:absolute; top:540px; left:500px; visibility:visible;">Galeria</h2>
            <div STYLE="position:absolute; top:200px; left:200px; visibility:visible;"> 

                <img name="restMostrado" src="{{asset('resourses/images/restaurantes/naans.jpg')}}" class="sombra" alt="" style="border:3px solid gray;" />
                <marquee width="500" style="position:absolute; top:400px; left:300px;" scrolldelay="1" scrollamount="6" direction="left" loop="infinite" onmouseout="this.start()"
                         onmouseover="this.stop()"><a href="URL que Redirecciona al tema 1" target="_blank"><img
                            title="Titulo de la entrada" alt="Titulo de la entrada" 
                            src="{{asset('resourses/images/restaurantes/naans.jpg')}}"
                            height ="80px" width="80px"/></a><a href="URL que Redirecciona al tema 2" 
                                                        target="_blank"><img title="Titulo de la entrada" alt="Titulo de la entrada"  
                                         src="{{asset('resourses/images/restaurantes/naans.jpg')}}" 
                                         height ="80px" width="80px" /></a></marquee>
            </div>
        </div>


    </section>










{% endblock %}
